.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header form {
  margin: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px; /* Smaller font size for labels */
}

.form-group input,
.form-group select {
  font-size: 14px; /* Smaller font size for inputs and selects */
  padding: 8px;
  margin-top: 5px;
}

.greet-button {
  font-size: 20px; /* Larger font size for the button */
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.greeting-message {
  margin-top: 20px;
  color: #90ee90;
  font-size: larger;
}

.App-header {
  text-align: center;
  padding: 20px;
}

.image-container {
  width: 250px; /* Fixed width */
  height: 250px; /* Fixed height */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto; /* Adds margin around the container and centers it horizontally */
}

.pet-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* This ensures the image fits within the container without stretching */
}